# Application
APP_SECRET=f7b2eb6d65dcf50dae489621a69dd936

# OAuth
GOOGLE_AUTH_SECRET=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
DISCORD_AUTH_SECRET=dMegTVxvxCpeGQtpF359hp2HOdpX2y5B
DISCORD_CLIENT_ID=1128887223161454633
DISCORD_REDIRECT=https://elomania.com/login

# Webhooks
DISCORD_WEBHOOK=https://discord.com/api/webhooks/1129912767076380682/xqjLc8MUVAI-UUNDvZONNrCnTOoI--UdO14suugVN2r4sJanTrX_nP3N9zH0vbbvqEZ7

# APP
APP_WEB_URL=https://elomania.com
APP_WEB_WWW_URL=https://www.elomania.com
APP_API_URL=https://eloapi.dashelomania.com
API_SECURE_REQ=$2a$08$LCKa6LTpV7sOT2291psyp.Gt2E6DKoe7q6V4Jg//hGQhaqAIa3DtW

# Notifications
NOTIFICATION=true
API_RIOT_KEY=RGAPI-7de30a5a-46df-431a-8d8d-ba4bdc8398ac

# Mail
MAIL_DRIVER=grid
SENDGRID_API_KEY=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

# Mercado Pago
APP_PUBLIC_KEY=APP_USR-e69fecef-fb1e-4335-a150-48444aa5c690
APP_ACCESS_TOKEN=APP_USR-6369886079912583-102507-6ecc61b29ed795d1d56b7352a025023c-161331021

# Stripe
STRIPE_SECRET_KEY=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
STRIPE_PUBLIC_KEY=pk_live_51MtZDkJ4gHe8fP9ZzLGDJpzailFYE0Y85jboLtMeyJIuXz5FC1TzkiTcFMMvqRTZPuNY5jBEGFQsYkJfIu3iqs8H00MjHC1Toq
STRIPE_WEBHOOK=we_1NeTw5J4gHe8fP9ZQQaGWISk

# AWS Credentials
AWS_ACCESS_KEY_ID=AKIAVPRGHU2A636ASYPP
AWS_SECRET_ACCESS_KEY=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
AWS_BUCKET_URL=https://app-elomania-v2-uploads.s3.amazonaws.com

# Storage
STORAGE_DRIVER=s3